.result-card {
  font-size: 1.5rem;
  color: #333;
  margin-top: 1rem;
  padding: 1rem;
}

.weather-info {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 20px;;
  justify-content: space-around;
  flex-wrap: wrap;
}

.no-results {
  font-size: 50px;
  margin-top: 1rem;
}