@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  background-color: #d8d6d6;
  margin: 0px;
  padding: 20px;
}

.app-title {
  margin: 0px;
  font-size: 40px;
  color: #333;
  margin-bottom: 1rem;
  font-weight: 900;
}

.weather-info {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 20px;;
  justify-content: space-around;
  flex-wrap: wrap;
}

.no-results {
  font-size: 50px;
  margin-top: 1rem;
}

.card {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 235px;
  opacity: 0.8;
}

.search-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.search {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 25px;
  font-size: 16px;
}